*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
}

header {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  background-color: #1E1E1E;
  padding: 12px 0;
  z-index: 1000; 
  
}

hr {
  border: none;
  height: 5px;
  background-color: #333333; 
  margin: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  gap: 50px; 
}

.logo {
  height: 40px; 
  margin-right: 20px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #cccccc;
}

.header-Download{
  margin-left: auto;
}

#hero {
  width: 100%;
  min-height: 100vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  background-image: url('/src/images/hero-background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}
  

.hero-text {
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 20px; 
}

.hero-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.hero-button {
  display: flex;
  gap: 80px;
}

.hero-button button {
  color: #ffffff;
  height: 100px; 
  width: 250px; 
  padding: 0 60px; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-button button:hover {
  background-color: rgba(30, 30, 30, 0.9); 
}

#Why-us {
  width: 100%;
  min-height: 100vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

#Why-us h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
  
}

.Why-us-blocks {
  display: flex;
  justify-content: space-around; 
  width: 87%;
  height: 600px;
  gap: 90px; 
}

.Organization, .Statistika, .Interface {
  flex: 1; 
  min-width: 250px; 
  padding: 30px;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
}

.Organization h2, 
.Statistika h2, 
.Interface h2 {
  font-weight: 100;
  margin-top: 70px;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

.Organization p, 
.Statistika p, 
.Interface p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
}

.Organization img,
.Statistika img,
.Interface img {
  width: 50%;
  height: auto;
  margin-top: 20px; 
}


#Download{
  min-height: 60vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

#Download button{
  color: #ffffff;
  height: 100px; 
  width: 250px; 
  padding: 0 60px; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Download button:hover {
  background-color: rgba(30, 30, 30, 0.9);
}

#Download h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
  
}

#Download h2 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: #ffffff;
  
}

#About {
  min-height: 100vh;
}

#About h1 {
  padding: 5%;
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.About-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 5%;
  background-color: #121212;
  color: white;
  box-sizing: border-box;
}



.About-main img {
  width: 45%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
  align-self: center;
}

.About-blocks {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.About-blocks div {
  margin-bottom: 40px;
  width: 100%;
}

.About-blocks h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  color: #ffffff;
}

.About-blocks p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #cccccc;
}

#Instruction {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 20px;
  text-align: center;
}

#Instruction h1 {
  font-family: 'Orbitron', Arial, sans-serif;
  font-weight: 100;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 30px;
}

#Instruction img {
  width: 50%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

#Instruction button {
  color: #ffffff;
  height: 70px;
  width: 200px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
}

#Instruction button:hover {
  background-color: rgba(30, 30, 30, 0.9);
}


#Instruction {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  background-color: #121212;
  color: white;
}

#Instruction h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
}

#Instruction img {
  max-width: 60%;
  height: auto;
  margin-bottom: 40px;
  border: 1px solid #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#Instruction button {
  color: #ffffff;
  height: 70px;
  width: 250px;
  padding: 0 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

#Instruction button:hover {
  background-color: rgba(30, 30, 30, 0.9);
}

#Ratings {
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  background-color: #121212;
  color: white;
}

#Ratings h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
}

.Rating-blocks {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}

.Rating-1, .Rating-2, .Rating-3 {
  padding: 23px;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}

.Rating-1, .Rating-3 {
  flex: 0 1 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Rating-2 {
  flex: 0 1 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Rating-blocks h2 {
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  color: #ffffff;
}

.Rating-blocks p {
  font-size: 16px;
  line-height: 1.6;
}

@media (max-width: 1024px) {

  nav ul img {
    display: none;
  }

  nav ul {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0 20px;
    
  }

  .hero-button {
    flex-direction: column;
    gap: 20px;
  }

  .Why-us-blocks {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 30px;
  }

  .About-main {
    flex-direction: column;
    text-align: center;
    padding: 60px 5%;
  }

  .About-main img {
    width: 100%;
    margin-bottom: 30px;
  }

  .About-blocks {
    width: 100%;
    align-items: center;
  }

  .About-blocks div {
    width: 100%;
  }

  .Rating-blocks {
    flex-direction: column;
    align-items: center;
  }
  
  .Rating-1, .Rating-2, .Rating-3 {
    width: 80%;
    max-width: 500px;
  }
  
  .Rating-1, .Rating-3 {
    text-align: center;
  }
  
  .Rating-2 {
    text-align: left;
  }
}

  


