*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #121212;
}

header {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  background-color: #1E1E1E;
  padding: 12px 0;
  z-index: 1000; 
  
}

hr {
  border: none;
  height: 5px;
  background-color: #333333; 
  margin: 0;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  margin: 0;
  padding: 0 40px;
  gap: 50px; 
}

.logo {
  height: 40px; 
  margin-right: 20px; 
}

nav a {
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #cccccc;
}

.header-Download{
  margin-left: auto;
}

#hero {
  width: 100%;
  min-height: 100vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 60px 20px;
  background-image: url('/src/images/hero-background.png');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  position: relative; 
}
  

.hero-text {
  margin-bottom: 40px;
}

.hero-text h1 {
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 20px; 
}

.hero-text p {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #ffffff;
}

.hero-button {
  display: flex;
  gap: 80px;
}

.hero-button button {
  color: #ffffff;
  height: 100px; 
  width: 250px; 
  padding: 0 60px; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-button button:hover {
  background-color: rgba(30, 30, 30, 0.9); 
}

#Why-us {
  width: 100%;
  min-height: 100vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

#Why-us h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
  
}

.Why-us-blocks {
  display: flex;
  justify-content: space-around; 
  width: 87%;
  height: 600px;
  gap: 90px; 
}

.Organization, .Statistika, .Interface {
  flex: 1; 
  min-width: 250px; 
  padding: 30px;
  background-color: rgba(30, 30, 30, 0.7);
  border-radius: 10px;
}

.Organization h2, 
.Statistika h2, 
.Interface h2 {
  font-weight: 100;
  margin-top: 70px;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
}

.Organization p, 
.Statistika p, 
.Interface p {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  color: #ffffff;
}

.Organization img,
.Statistika img,
.Interface img {
  width: 50%;
  height: auto;
  margin-top: 20px; 
}


#Download{
  width: 100%;
  min-height: 40vh; 
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
  text-align: center;
}

#Download button{
  color: #ffffff;
  height: 100px; 
  width: 250px; 
  padding: 0 60px; 
  font-family: 'Raleway', sans-serif;
  font-size: 25px; 
  font-weight: 500;
  border: 2px solid rgba(30, 30, 30, 0.6);
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.6);
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Download h1 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 45px;
  margin-bottom: 40px;
  color: #ffffff;
  
}

#Download h2 {
  font-weight: 100;
  font-family: 'Orbitron', Arial, sans-serif;
  font-size: 25px;
  margin-bottom: 20px;
  color: #ffffff;
  
}

